.status_panel {
	min-height: calc(100vh - 140px);
}

.rpc_card_preview {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 260px;
	padding: 40px;
}

.preview_footer {
	padding-top: 6px;
	border-top: 1px solid hsla(255, 255%, 255%, 0.06);
}

.preview_note {
	margin: 0;
	font-size: 13px;
	color: #a1a1aa;
}

@media (max-width: 830px) {
	.status_panel {
		padding: 20px var(--section-padding-mobile);
	}

	.status_left_side {
		width: 100%;
	}
}
.rpc_card_preview {
	border-radius: 16px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 320px;
	padding: 50px;
}
