.btn_container {
	flex-wrap: nowrap;
	justify-content: center;
	display: flex;
	gap: 10px;
	align-self: center;
}

.btn {
	border-radius: 10px !important;
	width: 256px;
	min-width: 256px;
	height: 48px;
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition:
		background 0.15s,
		box-shadow 0.15s,
		color 0.15s,
		border 0.15s;
	cursor: pointer;
	padding: 8px 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn svg {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

.btn_primary {
	background: #fff;
	color: #000;
}

.btn_secondary {
	background: hsla(0, 0%, 4%, 0.71);
	border: 1px solid hsla(0, 0%, 100%, 0.14) !important;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	color: #888;

	&:hover {
		color: white;
		border: 1px solid hwb(0 100% 0% / 0.228) !important;
	}
}

.btn_icon {
	pointer-events: none;
	margin-right: 10px;
	fill: currentcolor;
	flex-shrink: 0;
}

@media screen and (max-width: 830px) {
	.btn_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: center;
	}

	.btn_width {
		button {
			width: 100%;
		}

		> a {
			width: 100%;
			max-width: 440px;
			min-width: 256px;
		}
	}
}
