.main {
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding: 0;
	margin: 0;
}

.main::-webkit-scrollbar {
	display: none;
}

.home {
	scroll-snap-type: y mandatory;
}

@supports (scroll-snap-type: y mandatory) {
	.home {
		scroll-padding-top: 0;
	}
}

.normal {
	scroll-snap-type: none;
}
