.docs_content {
	flex: 1;
	min-width: 0;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.docs_card {
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background: #1a1a1ae6;
	border: 1px solid #ffffff0f;
	border-radius: 16px;
	display: block;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	gap: 16px;
	height: 100%;
	padding: 20px;
	display: flex;
}

.docs_title {
	color: #f1f1f1;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.docs_subtitle {
	color: #f1f1f1;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.docs_text {
	font-size: 14px;
	color: hsla(0, 0%, 100%, 0.8);
	line-height: 1.7;
	margin: 0 0 6px 0;
}

.docs_code {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	font-size: 12px;
	background: hsla(0, 0%, 100%, 0.06);
	padding: 1px 4px;
	border-radius: 6px;
}

.docs_list {
	margin: 6px 0 0;
	padding-left: 18px;
	font-size: 14px;
	color: hsla(0, 0%, 100%, 0.8);
	line-height: 1.6;
}

.docs_list_ordered {
	margin: 6px 0 0;
	padding-left: 18px;
	font-size: 14px;
	color: hsla(0, 0%, 100%, 0.8);
	line-height: 1.6;
}

.docs_list_item {
	margin-bottom: 4px;
}

@media (max-width: 830px) {
	.docs_left_side {
		width: 100%;
		max-width: 100%;
	}
}
