.downloads_container {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #95989d;
}
.downloads_container {
	strong > span {
		font-weight: 600;
		color: #bfc4c9;
		margin-left: 10px;
	}
}
