:root {
	--background: #000000;
	--foreground: #e3e3e3;
	--font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--bg: #000;
	--fg: #e3e3e3;
	--lighter-gray: #222;
}

html,
body {
	width: 100%;
	height: 100%;
	max-width: 100vw;
	overflow: hidden !important;
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
}
html,
body {
	margin: 0;
	padding: 0;
	background-color: #000;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #000;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

#bgCanvas {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: -1;
	pointer-events: none;
	background-color: #000;
}
:root {
	--section-padding-desktop: 48px;
	--section-padding-mobile: 20px;
}

.page {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 100vh;
}

.page_section,
.rpc_section,
.config_section {
	scroll-snap-align: start;
	min-height: 100vh;
	height: 100vh;
	scroll-snap-stop: always;
}

.page_section {
	position: relative;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: radial-gradient(
		circle at top center,
		var(--bg3),
		var(--bg2)
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	overflow: hidden;
	padding-bottom: 0;
}

.rpc_section,
.config_section {
	border-top: 1px solid var(--lighter-gray);
}
